* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(196, 169, 169);
}

.register-content__header {
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.register-content__logo {
    color: rgb(115, 104, 104);
}

.register__form {
    display: grid;
    place-items: center;
}

.register__form-content {
    position: relative;
    width: 600px;
    height: 500px;
    background-color: white;
}

.content__center {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.form__content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 300px;
    height: 35px;
    margin-bottom: 36px;
    background-color: rgba(241, 241, 241, 0.865);
    border: none;
    border-radius: 3px;
}

p {
    margin: 0 0 4px;
    color: rgb(115, 104, 104);
}

.form-content__button {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.register__button-submit {
    padding: 4px 28px;
    background-color: rgb(115, 104, 104);
    border: 1px solid rgb(115, 104, 104);
    border-radius: 3px;
    color: rgb(252, 242, 228);
    cursor: pointer;
}