*{
    box-sizing: border-box;
}

.header {
    height: 100px;
    padding: 8px 12px;
    border-bottom: 2px solid gainsboro;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    color: rgb(115, 104, 104);
}