.thanks {
    height: 100vh;
    display: grid;
    place-items: center;
}

.thanks-content {
    position: relative;
    text-align: center;
    padding: 80px 30px;
    width: 1200px;
}

.thanks-content::before {
    content: "Thank you";
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 30px;
    opacity: 0.05;
    color: brown;
    z-index: 0;
    pointer-events: none;
}

.thanks-message,
.button-home {
    position: relative;
    z-index: 1;
}

.thanks-message {
    font-size: 22px;
    color: rgb(115, 104, 104);
}

.button-home {
    text-decoration: none;
    background-color: rgb(115, 104, 104);
    color: antiquewhite;
    padding: 10px 20px;
}