* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(196, 169, 169);
}

.auth-nav__button {
    border: none;
    padding: 4px 20px;
    font-size: 16px;
    color: rgb(196, 169, 169);
    cursor: pointer;
}

.login {
    width: 1000px;
    margin: 0 auto;
}

.login__header {
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.login__title {
    color: rgb(115, 104, 104);
}

.login__form {
    display: grid;
    place-items: center;
}

.login__body {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: white;
}

.login__fields {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.login__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

login__input {
    width: 300px;
    height: 35px;
    background-color: rgba(241, 241, 241, 0.865);
    border: none;
    border-radius: 3px;
}

login__label {
    margin: 0 0 4px;
    color: rgb(115, 104, 104);
}

.login__button {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.login__button--submit {
    padding: 4px 28px;
    background-color: rgb(115, 104, 104);
    border: 1px solid rgb(115, 104, 104);
    border-radius: 3px;
    color: rgb(252, 242, 228);
    cursor: pointer;
}

.login__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
}