* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

.admin-wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.admin-wrapper__header {
    text-align: center;
    color: rgb(127, 91, 91);
}

.header__nav button {
    border: none;
    padding: 4px 20px;
    font-size: 16px;
    color: rgb(196, 169, 169);
    cursor: pointer;
}



/*　　 検索条件の行  */

.admin-search__item-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.search__input,
.search__select {
    height: 30px;
    background-color: rgba(241, 241, 241, 0.865);
    border-radius: 3px;
    border: none;
    color: rgb(115, 104, 104);
    border: 1px solid rgba(222, 195, 195, 0.4);
}

.search__item-name .search__input {
    width: 260px;
    font-size: 12px;
    text-align: center;
}

.search__item-gender .search__select,
.search__item-category .search__select {
    padding: 0 12px;
}

.search__button {
    height: 30px;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    line-height: 1;
    border: none;
    font-size: 12px;
    background-color: rgb(196, 169, 169);
    color: antiquewhite;
    border-radius: 3px;
}

.search__item-button .search__button {
    background-color: rgb(127, 91, 91);
}

/*  エクスポートとページネーションの行  */

.action__item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export__link {
    background-color: rgba(227, 225, 225, 0.865);
    height: 30px;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    line-height: 1;
    font-size: 12px;
    color: rgb(115, 104, 104);
    border-radius: 3px;
}

/*　　テーブル  */

.table__content {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid rgba(222, 195, 195, 0.4);
}

.table__content th,
.table__content td {
    padding: 12px 25px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 2px solid rgba(222, 195, 195, 0.4);
}

.table__content th:last-child,
.table__content td:last-child {
    text-align: right;
}

th {
    font-weight: 300;
    color: antiquewhite;
}

td {
    color: rgb(127, 91, 91);
    font-size: 14px;
}

.table__head-row {
    background-color: rgb(127, 91, 91);
}

.button__detail {
    padding: 6px 16px;
    background-color: rgba(241, 241, 241, 0.865);
    border: 1px solid rgba(222, 195, 195, 0.6);
    border-radius: 3px;
    color: rgba(222, 195, 195, 0.6);
}

/*   ページネーション設定   */

.admin-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.admin-pagination__item {
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6dfda;
    background: #fff;
    color: #7b6f67;
    font-size: 12px;
    text-decoration: none;
    border-radius: 3px;
}


.admin-pagination__item.is-active {
    background: #6f625a;
    border-color: #6f625a;
    color: #fff;
}




/* モーダル */
.modal {
    display: none;
}

.modal:target {
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
    z-index: 9999;
}

.modal__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .35);
}

.modal__panel {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: auto;
    background: #fff;
    padding: 24px;
    border: 1px solid #ddd;
}

.modal__row {
    display: flex;
    margin-bottom: 20px;
}

.row__header {
    width: 150px;
    font-weight: bold;
    color: rgb(127, 91, 91);
}

.row__body {
    width: 500px;
    font-weight: 300;
    color: rgb(127, 91, 91);
}

.modal__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    border: 2px solid gainsboro;
    border-radius: 50%;
    display: grid;
    place-items: center;
    line-height: 1;
}

.delete__button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    padding: 4px 12px;
    background-color: rgb(213, 3, 3);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}